<html lang="en">
<head>
    <style>
        table, th, td {
            border: 1px solid black;
            border-style: dotted;
        }
    </style>
</head>
<body>
    <h1>Here is your purchased ticket information</h1>
    <table>
        <tr>
            <th>Bus Name</th>
            <th>Pickup</th>
            <th>Destination</th>
            
            <th>Time</th>
        </tr>
        <tr>
            <td>{{busname}}</td>
            <td>{{pickup}}</td>
            <td>{{destination}}</td>
            <td>{{time}}</td>
        </tr>
    </table>
    <br><br>
    <b>Thank you for believing us ❤️</b>

</body>
</html>